.tea-accordion .accordion-button {
  background-color: #afe1af !important;
  border: none;
  font-weight: bold;
  color: #3e2723;
}

.tea-card {
  background: linear-gradient(135deg, #afe1af 35%, #acdf87 100%);
  border-radius: 10px;
}

.tea-item {
  background-color: #c8e6c9;
  border-radius: 8px;
  margin-bottom: 5px;
}

.tea-item:hover {
  background-color: #fff9c4;
}
